<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/styles.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
   <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Profile Setup</title>
</head>

<body>
<header class="navbar navbar-expand-lg navbar-dark">
    <label class="mt-2 ms-5 font-weight-bold h5"
    ><a th:href="@{/dashboard/}"> Career </a
    ><span class="logo_com font-weight-bold h5" style="color: white">
          Connect </span
    ></label
    >
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0">

            <li class="nav-item active">
                <a sec:authorize="hasAuthority('Job Seeker')" class="nav-link" th:href="@{/dashboard/}"
                ><i class="fas fa-search"></i>Search for Jobs</a
                >
            </li>
            <li class="nav-item ">
                <a sec:authorize="hasAuthority('Job Seeker')" class="nav-link" th:href="@{/saved-jobs/}">
                    <i class="fa-solid fa-eye"></i>View Saved Jobs</a>
            </li>
            <li class="nav-item ">
                <a sec:authorize="hasAuthority('Job Seeker')" class="nav-link" th:href="@{/job-seeker-profile/}">
                    <i class="fa-solid fa-pencil"></i>Edit Profile</a>
            </li>

            <li class="nav-item">
                <a sec:authorize="hasAuthority('Recruiter')" class="nav-link" th:href="@{/dashboard/add}">
                    <i class="fa-solid fa-file-circle-plus"></i>Post New Job
                </a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasAuthority('Recruiter')" class="nav-link" th:href="@{/dashboard/}">
                    <i class="fa-solid fa-eye"></i>View Your Jobs
                </a>
            </li>
            <li class="nav-item active">  <!-- Active class added here -->
                <a sec:authorize="hasAuthority('Recruiter')" class="nav-link" th:href="@{/recruiter-profile/}">
                    <i class="fa-solid fa-pencil"></i>Edit Account
                </a>
            </li>



        </ul>

        <img
                class="rounded-circle me-3"
                height="50px"
                width="50x"
                th:if="${user.photosImagePath!=null}"
                th:src="@{${user?.photosImagePath}}"
        />

        <label th:if="${user.firstName != null && user.lastName != null}"
               th:text="${user.firstName+' '+user.lastName}"
               class="nav-item nav-link px-2 me-3">
        </label>

        <label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"
               class="nav-item nav-link px-2 me-3"></label>

        <button class="myBtn-light me-5" onclick="window.location.href='/logout'">Logout</button>
    </div>
</header>
<div class="row" style="margin-right:0">
    <div class=" col-7 container">
        <div class="myForm">
            <form th:action="@{/recruiter-profile/addNew}" th:object="${profile}" method="post" enctype="multipart/form-data"
            >
                <div class="row gutters ">
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-center ">
                                <h1 class="heading_font font-weight-bold">
                                    Recruiter
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div >
                                    <h2 class="d-flex justify-content-center heading_font">
                                        Set up your Profile
                                    </h2>
                                </div>
                            </div>

                            <div class="card-body ms-2.5">
                                <label class="heading_font font_sub_heading_color">Name</label>
                                <div class="row ">
                                    <div class="col-md-6 pr-1">
                                        <input placeholder="First Name" id="firstName" th:field="*{firstName}"  name="firstName"  type="text" class="form-control"  />
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <input placeholder="Last Name" id="lastName" name="lastName" th:field="*{lastName}" type="text" class="form-control"  />
                                    </div>
                                </div>
                                <div class="row " >
                                    <div class="col-md-4 pr-1">
                                        <input placeholder="City" name="city" th:field="*{city}" type="text" class="form-control"  />
                                    </div>
                                    <div class="col-md-4 px-1">
                                        <input placeholder="State" name="state" type="text" th:field="*{state}" class="form-control"  />
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <input placeholder="Country" name="country" th:field="*{country}" type="text" class="form-control"  />
                                    </div>
                                </div>
                                <div class="row " >
                                    <div class="col">
                                        <input placeholder="Company" id="company" name="company" th:field="*{company}" type="text" class="form-control"  />
                                    </div>
                                </div>
                                <label class="heading_font font_sub_heading_color mt-2">Profile Photo</label>
                                <div class="row" >

                                    <div class="col" >
                                        <input type="file" name="image" class="form-control" accept="image/png, image/jpeg" />
                                        <input type="text" name="profilePhoto" th:field="*{profilePhoto}" class="form-control" hidden />
                                    </div>
                                </div>
                                <div class="row mt-4" >
                                    <div class="col d-flex justify-content-center">
                                        <button type="submit" id="submit2" name="submit" class="btn btn-primary base_button px-4 py-2">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

</html>
