<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>


    <link th:rel="stylesheet" type="text/css" media="all" th:href="@{/summernote/summernote-lite.min.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all"  th:href="@{/css/styles.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

    <meta charset="ISO-8859-1">
    <title>Profile Setup</title>
</head>

<body>
<header class="navbar navbar-expand-lg navbar-dark">
    <label class="mt-2 ms-5 font-weight-bold h5"
    ><a th:href="@{/dashboard/}"> Career </a
    ><span class="logo_com font-weight-bold h5" style="color: white">
          Connect </span
    ></label
    >
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0">

            <li class="nav-item active">
                <a sec:authorize="hasAuthority('Job Seeker')" class="nav-link" th:href="@{/dashboard/}"
                ><i class="fas fa-search"></i>Search for Jobs</a
                >
            </li>
            <li class="nav-item ">
                <a sec:authorize="hasAuthority('Job Seeker')" class="nav-link" th:href="@{/saved-jobs/}">
                    <i class="fa-solid fa-eye"></i>View Saved Jobs</a>
            </li>
            <li class="nav-item ">
                <a sec:authorize="hasAuthority('Job Seeker')" class="nav-link" th:href="@{/job-seeker-profile/}">
                    <i class="fa-solid fa-pencil"></i>Edit Profile</a>
            </li>

            <li class="nav-item active">
                <a sec:authorize="hasAuthority('Recruiter')" class="nav-link" th:href="@{/dashboard/add}">
                    <i class="fa-solid fa-file-circle-plus"></i>Post New Job
                </a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasAuthority('Recruiter')" class="nav-link" th:href="@{/dashboard/}">
                    <i class="fa-solid fa-eye"></i>View Your Jobs
                </a>
            </li>
            <li class="nav-item">
                <a sec:authorize="hasAuthority('Recruiter')" class="nav-link" th:href="@{/recruiter-profile/}">
                    <i class="fa-solid fa-pencil"></i>Edit Account
                </a>
            </li>


        </ul>

        <img
                class="rounded-circle me-3"
                height="50px"
                width="50x"
                th:if="${user.photosImagePath!=null}"
                th:src="@{${user?.photosImagePath}}"
        />

        <label th:if="${user.firstName != null && user.lastName != null}"
               th:text="${user.firstName+' '+user.lastName}"
               class="nav-item nav-link px-2 me-3">
        </label>

        <label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"
               class="nav-item nav-link px-2 me-3"></label>

        <button class="myBtn-light me-5" onclick="window.location.href='/logout'">Logout</button>
    </div>
</header>
<div style="display: flex">
    <div class="col-md-7 container myForm">
        <form id="job-main-form" th:action="@{/dashboard/addNew}" th:object="${jobPostActivity}" method="post" class="job-add-form">
            <input hidden type="text" th:field="*{jobPostId}" >
            <input hidden type="text" th:field="*{jobLocationId.Id}" >
            <input hidden type="text" th:field="*{jobCompanyId.Id}" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex justify-content-center pt-3">
                        <h1 class="heading_font font-weight-bold">Post New Job</h1>
                    </div>
                </div>
            </div>
            <label class="heading_font font_sub_heading_color">Job Details</label>
            <div class="row" >
                <div class="col-lg-12 form-group">
                    <input id="title" type="text" th:field="*{jobTitle}" class="form-control" placeholder="Job Title">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    <select id="type" th:field="*{jobType}" class="form-control">
                        <option value="" >Employment Type</option>
                        <option th:value="Full-time" >Full-time</option>
                        <option th:value="Part-time" >Part-time</option>
                        <option th:value="Freelance" >Freelance</option>
                        <option th:value="Internship" >Internship</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <select id="remote" th:field="*{remote}" class="form-control">
                        <option value="">Select a Remote</option>
                        <option th:value="Remote-Only">Remote-Only</option>
                        <option th:value="Office-Only">Office-Only</option>
                        <option th:value="Partial-Remote"> Partial-Remote</option>
                    </select>
                </div>
                <div class="col-md-4 form-group">
                    <input id="salary" th:field="*{salary}" type="text" class="form-control" placeholder="Salary">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="mt-2 heading_font font_sub_heading_color">Description</label>
                    <textarea type="text" rows="4" id="content" placeholder="Content" class="form-control"
                              th:field="*{descriptionOfJob}" autocomplete="off"></textarea>
                </div>
            </div>

            <label class="mt-2 heading_font font_sub_heading_color">Location</label>
            <div class="row" >
                <div class="col-md-4 form-group">
                    <input th:field="*{jobLocationId.city}" id="city" type="text"  class="form-control" placeholder="City">
                </div>
                <div class="col-md-4 form-group">
                    <input id="state" th:field="*{jobLocationId.state}" type="text"  class="form-control" placeholder="State">
                </div>
                <div class="col-md-4 form-group">
                    <input id="country" th:field="*{jobLocationId.country}" type="text"  class="form-control" placeholder="Country">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <label class="mt-2 heading_font font_sub_heading_color">Company</label>
                    <input id="companyName" th:field="*{jobCompanyId.name}" type="text" class="form-control" placeholder="Company Name">
                </div>
            </div>

            <div class="row mt-4" >
                <div class="col d-flex justify-content-center">
                    <button type="submit" name="submit" class="btn btn-primary base_button px-4 py-2 mb-5">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>












<!-- ===== SCRIPTS (load in this order) ===== -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/jquery.magnific-popup.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxchimp/1.3.0/jquery.ajaxchimp.min.js"></script>

<!-- jQuery first -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<!-- waypoints (required by counterUp v1) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

<!-- counterUp plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

<!-- your app script that uses counterUp -->
<!-- jQuery (only one jQuery should be loaded) -->
<script src="/js/jquery-1.12.4.min.js"></script>

<!-- imagesLoaded (optional, recommended when using Isotope) -->
<script src="/js/imagesloaded.pkgd.min.js"></script>

<!-- Isotope -->
<script src="/js/isotope.pkgd.min.js"></script>

<!-- Waypoints & CounterUp (if used) -->
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>

<!-- ajaxChimp (Mailchimp jQuery plugin) -->
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Your main app script last -->
<script src="/js/main.js"></script>
<!-- ===== END SCRIPTS ===== -->
</body>
</html>



